/*
*   About
*/
section#about{
    padding: 0;}

/*
*   "About" Text
*/
div#car-item-about > div.container > div.row > div.col-lg-12 > p {
    margin-top: 100px;}

/*
*   Map
*/
div#car-item-location {
    background: url(https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyBMGfYeDyC-blGyqgVFZDzkxvD5S1KM3_Q&center=Brussels&markers=size:mid|Brussels&size=1920x1080&scale=2&zoom=6&type=terrain&style=feature:road|visibility:off) center no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    padding-top: 0;}
/*
section#about > div#about-header {
    background-color: white;
    border-style: groove;
    width: 300px;
    height: 150px;
    position: relative;
    top: 20px;
    z-index: 99;}
*/

/*
*   Tiles
*/
.carousel-item {
    padding: 100px 0;
    height: 1024px;}

/*
*   Controls
*/
.carousel-control-next, .carousel-control-prev {
    color: #222222;
    opacity: 1;}

    .carousel-control-next:hover, .carousel-control-prev:hover {
        color: #34888c;
        opacity: 1;}

    .carousel-control-next:focus, .carousel-control-prev:focus {
        color: #34888c;
        opacity: 1;}

/*
*   Indicators
*/
ol.carousel-indicators > li {
    background-color: #222222;}

    ol.carousel-indicators > li:hover {
        background-color: #222222;}

    ol.carousel-indicators > li.active {
        background-color: #34888c;}

/*
*   Responsive
*/
@media (min-width : 768px) {
    .carousel-item {
        height: 100vh;}
}