#experience {
	padding: 0;
}

#experience > .container-fluid {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/road.jpg') no-repeat fixed center;
}

#experience h2{
	margin-top: 50px;
	padding-top: 50px;
}


.collapsing > ul {
	list-style-type: none;
	text-align: center;
	padding: 0;
}

.collapse > ul {
	list-style-type: none;
	text-align: center;
	padding: 0;
}