/*
*	Experience
*/
#experience {
	padding: 0;
	background: url('../img/road-landscape.jpg') no-repeat fixed center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;}

	#experience h2{
		margin-top: 50px;
		padding-top: 50px;}

/*
*	Timeline panels animation
*/
.collapsing > ul {
	list-style-type: none;
	text-align: center;
	padding: 0;}

.collapse > ul {
	list-style-type: none;
	text-align: center;
	padding: 0;}

/*
*   Responsive
*/
@media (orientation: portrait){
	#experience {
		background: url('../img/road.jpg') no-repeat fixed center;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;}
}

@media ( min-width : 768px){
	#experience {
		background: url('../img/road.jpg') no-repeat fixed center;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;}
}

@media ( min-width : 1025px){
    #experience {
        background: url('../img/road.jpg') no-repeat fixed center;
        background-size: auto 170vh;
        -webkit-background-size: auto 170vh;
        -moz-background-size: auto 170vh;
        -o-background-size: auto 170vh;}
}