/*
*	Experience
*/
#experience {
	padding: 0;
	background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../img/road.jpg') no-repeat fixed center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;}

	#experience h2{
		margin-top: 50px;
		padding-top: 50px;}

/*
*	Timeline panels animation
*/
.collapsing > ul {
	list-style-type: none;
	text-align: center;
	padding: 0;}

.collapse > ul {
	list-style-type: none;
	text-align: center;
	padding: 0;}