/*
*	Header
*/
header {
	height: 100%;}

header.masthead {
	width: 100%;
	position: relative;
	text-align: center;
	color: white;
	background: url('../img/workshop-landscape.jpg') no-repeat fixed center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;}

	header.masthead .header-content {
		position: relative;
		width: 100%;
		padding: 150px 15px 100px;
		text-align: center;}
	
	header.masthead .header-content .header-content-inner h1 {
		font-size: 30px;
		font-weight: 700;
		margin-top: 0;
		margin-bottom: 0;
		text-transform: uppercase;}
	
	header.masthead .header-content .header-content-inner hr {
		margin: 30px auto;}
	
	header.masthead .header-content .header-content-inner p {
		font-size: 16px;
		font-weight: 300;
		color: rgba(255, 255, 255, 0.7);}

/*
*	Responsive
*/
@media (min-height: 415px){
	header.masthead .header-content {
	top: 15%;
	padding-left: 0;
	padding-right: 0;}

	header.masthead .header-content .header-content-inner {
		background-color: rgba(88, 31, 43, 0.8);
		padding: 20px 0 20px 0;
	}
}

@media ( min-width : 768px) {
	header.masthead {
		height: 100%;
		min-height: 600px;
		width: 100%;
		position: relative;
		text-align: center;
		color: white;
		background: url("../img/workshop.jpg") no-repeat fixed center;
		-webkit-background-size: auto 110vh;
		-moz-background-size: auto 110vh;
		-o-background-size: auto 110vh;
		background-size: auto 110vh;}
	
	header.masthead .header-content {
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);}
	
	header.masthead .header-content .header-content-inner {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		background-color: rgba(88, 31, 43, 0.8);
		border: none;
		padding: 20px 0 20px 0;}
	
	header.masthead .header-content .header-content-inner h1 {
		font-size: 50px;}
	
	header.masthead .header-content .header-content-inner p {
		font-size: 18px;
		max-width: 80%;
		margin-right: auto;
		margin-left: auto;}
}

@media screen and (orientation: portrait) {
	header.masthead {
		width: 100%;
		position: relative;
		text-align: center;
		color: white;
		background: url('../img/workshop-portrait.jpg') no-repeat fixed center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;}
}