/*
*	Navigation Bar
*/
#mainNav {
	border-color: rgba(34, 34, 34, 0.05);
	background-color: white;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;}

	/*
	*   Brand
	*/
	#mainNav .navbar-brand {
		font-weight: 700;
		text-transform: uppercase;
		color: #34888c;
		font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;}
	
		#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
			color: #34888c;}

	#mainNav .navbar-toggle {
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		color: #222222;}

	/*
	*   Navbar links
	*/
	#mainNav .navbar-nav>li.nav-item>a.nav-link:focus, #mainNav .navbar-nav>li.nav-item>a.nav-link{
		font-size: 13px;
		font-weight: 700;
		text-transform: uppercase;
		color: #222222;}
	
		#mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover, #mainNav .navbar-nav>li.nav-item>a.nav-link:hover{
			color: #34888c;}
		
		#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active, #mainNav .navbar-nav>li.nav-item>a.nav-link.active{
			color: #34888c !important;
			background-color: transparent;}
		
		#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active:hover, #mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover{
			background-color: transparent;}

/*
*	Responsive
*/
@media ( min-width : 992px) {
	#mainNav {
		border-color: rgba(255, 255, 255, 0.3);
		background-color: transparent;}

	/*
	*   Brand
	*/
	#mainNav .navbar-brand {
		color: rgba(255, 255, 255, 0.7);}
		
		#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
			color: white;}

	/*
	*   Links
	*/
	#mainNav .navbar-nav>li.nav-item>a.nav-link, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus{
		color: rgba(255, 255, 255, 0.7);}
	
		#mainNav .navbar-nav>li.nav-item>a.nav-link:hover, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover{
			color: white;}

	/*
	*   onShrink
	*/
	#mainNav.navbar-shrink {
		border-color: rgba(34, 34, 34, 0.05);
		background-color: white;}

		/*
		*   Brand
		*/
		#mainNav.navbar-shrink .navbar-brand {
			font-size: 16px;
			color: #34888c;}

		/*
		*   Links
		*/
		#mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover{
			color: #34888c;}
		
		#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link, #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus{
			color: #222222;}
		
		#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover,
		#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover{
			color: #34888c;}
}