/*
*   Timeline hoverable
*/
div.portfolio-hover {
	border-radius: 50%;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
	opacity: 0;
	background: rgba(240, 95, 64, 0.9);}

	div.portfolio-hover:hover {
		opacity: 1;}

	div.portfolio-hover div.portfolio-hover-content{
		font-size: 20px;
		color: white;
		height: 100%;}

		div.portfolio-hover div.portfolio-hover-content i.fa {
			position: relative;
			top: 25%;}

/*
*   Links
*/
a.portfolio-link {
	display: block;
	cursor: pointer;}

/*
*   Responsive
*/
@media (min-width: 767px) {
	#portfolio .portfolio-item {
		margin: 0 0 30px;
	}
}

/*
*   Modal
*/
.portfolio-modal .modal-dialog {
	max-width: none;
	height: 100%;
	margin: 0;}

.portfolio-modal .modal-content {
	min-height: 100%;
	padding: 100px 0;
	text-align: center;
	border: none;
	border-radius: 0;
	background-clip: border-box;
	-webkit-box-shadow: none;
	box-shadow: none;}

	.portfolio-modal .modal-content h2 {
		font-size: 3em;
		margin-bottom: 15px;}

	.portfolio-modal .modal-content p {
		margin-bottom: 30px;}

		.portfolio-modal .modal-content p.item-intro {
			font-size: 16px;
			font-style: italic;
			margin: 20px 0 30px;
			font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;}

	.portfolio-modal .modal-content ul.list-inline {
		margin-top: 0;
		margin-bottom: 30px;}

	.portfolio-modal .modal-content img {
		margin-bottom: 30px;}

	.portfolio-modal .modal-content button {
		cursor: pointer;}

.portfolio-modal .close-modal {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 75px;
	height: 75px;
	cursor: pointer;
	background-color: transparent;}

	.portfolio-modal .close-modal:hover {
		opacity: 0.3;}

	.portfolio-modal .close-modal .lr {
		/* Safari and Chrome */
		z-index: 1051;
		width: 1px;
		height: 75px;
		margin-left: 35px;
		/* IE 9 */
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		background-color: #212529;}

	.portfolio-modal .close-modal .lr .rl {
		/* Safari and Chrome */
		z-index: 1052;
		width: 1px;
		height: 75px;
		/* IE 9 */
		-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
		background-color: #212529;}

.portfolio-modal .modal-backdrop {
	display: none;
	opacity: 0;}