/*
*	Bar graph
*/
.bargraph {
	list-style: none;
	padding-top: 20px;
	width: 100%;}

ul.bargraph li div {
	height: 35px;
	font-style: italic;
	font-weight: bolder;
	font-size: 14px;
	line-height: 35px;
	padding: 0px 20px;
	margin-bottom: 5px;
	border-radius: 300px;}

	ul.bargraph li div.graph-beg-l {
		width: 12.5%;}
	
	ul.bargraph li div.graph-beg-h {
		width: 25%;}
	
	ul.bargraph li div.graph-inter-l {
		width: 37.5%;}
	
	ul.bargraph li div.graph-inter-h {
		width: 50%;}
	
	ul.bargraph li div.graph-pro-l {
		width: 62.5%;}
	
	ul.bargraph li div.graph-pro-h {
		width: 75%;}
	
	ul.bargraph li div.graph-adv-l {
		width: 87.5%;}
	
	ul.bargraph li div.graph-adv-h {
		width: 100%;}

ul.bargraph-reverse li div{
	position: absolute;
	right: 0;}

/*
*	Headers
*/
.skills-header {
	padding-top: 50px;
	transition: width 2s;}

.spread {
	animation: spread 1s linear;}

/*
*	Section about the Operating systems
*/
div#os li {
	line-height: 40px;
	height: 40px;}

/*
*	Animation
*/
@keyframes spread {
	from {width: 0%;}

	to {width: 100%;}
}